body {
  font-family: sans-serif;
  margin: 0;
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fa-magnifying-glass {
  color: black;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.header-center {
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

.left-margin {
  margin: 0px 16px;
}


#uv-error {
  color: #ff6666 !important;
  white-space: pre-wrap;
}

#uv-error-code {
  font-size: 12px;
  color: black;
  font-family: "Courier New", Courier, monospace;
}

#uv-register-sw {
  color: black;
  background: #555555;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 16px 20px;
  line-height: 16px;
  display: none;
}

#uv-register-sw:active {
  background: #333333;
}

#uv-register-sw.show {
  display: block;
}

.logo {
  width: 150px;
  height: 150px;
}

.logo-wrapper .text {
  font-size: 75px;
  color: black;
}

.logo-wrapper h1 {
  color: black;
}

.desc p {
  width: 660px;
  color: black;
}

#uv-address {
  background: none;
  font-family: inherit;
  padding: 0px 17px;
  height: 48px;
  color: black;
  border-radius: 3px;
  outline: none;
  width: 450px;

}

/* Footer styling */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

footer a {
  padding-right: 10px;
}